body {
    background-color: #f8f9fa;
}

.container {
    padding: 20px;
}

.jumbotron {
    background-color: #6c757d;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1rem;
}

.card {
    margin-top: 20px;
}

.img-thumbnail {
    max-height: 300px;
    object-fit: cover;
    border-radius: 0.75rem;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.preview {
    max-width: 100%;
    border-radius: 10px;
    max-height: 400px;
    object-fit: contain;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}